# ENVIRONMENT=feature

PORT=8080

BASE_PATH=""

GROUP_NAMES: whoami,play
GROUP_HOSTNAMES: whoami.im.c.127.0.0.1.nip.io,play.im.c.127.0.0.1.nip.io

REDIS_HOST=redis
REDIS_PORT=6379

# Both public and private keys needs to be "inlined" with literal newline characters replaced by \n
# Keys can be generated using "make keys"
#PRIVATE_KEY=""
#PUBLIC_KEY=""

REFRESH_TOKEN_SECRET_KEY=some-secret-key
# 15 minutes
ACCESS_TOKEN_EXPIRATION_IN_SECONDS=900
# 24 hours
REFRESH_TOKEN_EXPIRATION_IN_SECONDS=86400

DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USERNAME=instance-manager
DATABASE_PASSWORD=instance-manager
DATABASE_NAME=instance-manager

AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>

SOPS_KMS_ARN=<kms-key-arn>

GIN_MODE=test

ADMIN_USER_EMAIL=andreas@dhis2.org
ADMIN_USER_PASSWORD=tmUJje8fGuzT4JAsDeK2gHDL5E5QekaR

USER_EMAIL=andreas@something.org
PASSWORD=somethingsomething
